body {
    background-color: lightblue;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: white;
    padding: 10px;
    text-align: center;
}

h1 {
    font-size: 36px;
    margin: 0;
}

nav {
    background-color: lightgray;
    padding: 10px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

nav li {
    float: left;
    border-right:1px solid #bbb;
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav li a:hover:not(.acive) {
    background-color: #111;
}

.active {
    background-color: #04AA6D;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }

main {
    background-color: white;
    margin: 20px;
    padding: 20px;
    text-align: justify;
}

h2 {
    color: blue;
    font-size: 30px;
    margin: 0;
    margin-bottom: 10px;
}

p {
    font-size: 18px;
    line-height: 1.5;
    margin: 0;
    margin-bottom: 20px;
}

footer {
    background-color: lightgray;
    padding: 10px;
    text-align: center;
}

footer p {
    font-size: 16px;
    margin: 0;
}